
.contents-wrapper{
  background-image: url(https://github.com/yushirohishida/kanazawaCareerFirst_startup/blob/master/CareerFirst%E3%83%AD%E3%82%B3%E3%82%99_3.png?raw=true);
  background-size: cover;
  text-align: center;
  height:100%;
 /* color:rgba(0,64,128,1.0);
  opacity:0.7;  */
}

ul{
  list-style:none;
}

textarea{
  width:500px;
  height:80px;
}
